<section class="about-part about">
  <div class="container">
    <h2 class="about__title title animate-on-scroll slide-up">Про нас</h2>
    <div class="about__text">
      <p class="animate-on-scroll slide-left delay-200">
        ТОВ «ФКС» - виробництво виробів з природного каменю: каміни, фасади,
        стільниці, сходи. Мармур, граніт, онікс, травертин.
      </p>
      <p class="animate-on-scroll slide-left delay-300">
        Ми виробляємо природні каміння та фасаду з різних матеріалів, таких як
        мармур, граніт, онікс та травертин. Ми використовуємо лише найкращі
        матеріали для того, щоб ваші вироби були якнайкраще.
      </p>
      <p class="animate-on-scroll slide-left delay-400">
        Ми працюємо з різними типами каміння та фасаду, щоб підібрати ідеальний
        виріб для вашого проекту. Ми також пропонуємо різні варіанти розмірів та
        матеріалів, щоб підібрати ідеальний виріб для вашого проекту.
      </p>
    </div>
  </div>
</section>
