<section class="about-part about">
    <div class="container">
      <h2 class="about__title title">Про нас</h2>
      <div class="about__text">
        <p>
          ТОВ «ФКС» - виробництво виробів з природного каменю: каміни, фасади, стільниці, сходи. Мармур, граніт, онікс, травертин.
        </p>
        <p>
          Ми виробляємо природні каміння та фасаду з різних матеріалів, таких як мармур, граніт, онікс та травертин. Ми використовуємо лише найкращі матеріали для того, щоб ваші вироби були якнайкраще.
        </p>
        <p>
          Ми працюємо з різними типами каміння та фасаду, щоб підібрати ідеальний виріб для вашого проекту. Ми також пропонуємо різні варіанти розмірів та матеріалів, щоб підібрати ідеальний виріб для вашого проекту.
        </p>
      </div>
    </div>
  </section>