<footer class="footer">
  <div class="container footer-container">
    <div class="footer-info">
      <a href="./" class="logo footer-logo">
        <img src="./img/logo.png" alt="ФКС логотип" class="logo-icon" width="40" height="40">
        <span class="logo-text">ФКС</span>
      </a>
      <p class="footer-description">Виробництво виробів з природного каменю найвищої якості</p>
    </div>

    <div class="footer-nav">
      <h3 class="footer-title">Навігація</h3>
      <ul class="footer-nav-list">
        <li class="footer-nav-item"><a href="./" class="footer-link">Головна</a></li>
        <li class="footer-nav-item"><a href="./catalog.html" class="footer-link">Вироби з каменю</a></li>
        <li class="footer-nav-item"><a href="./stones.html" class="footer-link">Каталог каменю</a></li>
        <li class="footer-nav-item"><a href="./portfolio.html" class="footer-link">Портфоліо</a></li>
        <li class="footer-nav-item"><a href="./contacts.html" class="footer-link">Контакти</a></li>
      </ul>
    </div>

    <div class="footer-contacts">
      <h3 class="footer-title">Контакти</h3>
      <address class="footer-address">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:+380672660909" class="footer-contacts-link">
              <img class="footer-contacts-icon" width="16" height="16" src="./img/icon-phone.png">
              +38 (067) 266-09-09
            </a>
          </li>
          <li class="footer-contacts-item">
            <a href="mailto:fks.marble@gmail.com" class="footer-contacts-link">
              <img class="footer-contacts-icon" width="16" height="16" src="./img/icon-mail.png">
              </img>
              fks.marble@gmail.com
            </a>
          </li>
          <li class="footer-contacts-item">
            <a href="https://maps.app.goo.gl/Kv3WgYHVRWyWMSN87" target="_blank" rel="noopener noreferrer" class="footer-contacts-link">
              <img class="footer-contacts-icon" width="16" height="16" src="./img/icon-map.png">
              м. Київ, вул. Лебединська, 4
            </a>
          </li>
        </ul>
      </address>
      <div class="footer-social">
        <ul class="social-list">
          <li class="social-item">
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="social-link">
              <img src="./img/icon-fb.svg" alt="Facebook" class="social-icon" width="40" height="40">
            </a>
          </li>
          <li class="social-item">
            <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" class="social-link">
              <img src="./img/icon-insta.svg" alt="Instagram" class="social-icon" width="40" height="40">
            </a>
          </li>
          <!-- <li class="social-item">
            <a href="https://t.me" target="_blank" rel="noopener noreferrer" class="social-link">
              <img src="" alt="Instagram" class="social-icon" width="40" height="40">
            </a>
          </li> -->
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">© ТОВ «ФКС» 2025. Всі права захищені.</p>
    </div>
  </div>
</footer>
