<header class="header">
  <div class="container header-container">
    <a href="./" class="logo">
      <img
        src="./img/logo.png"
        alt="ФКС логотип"
        class="logo-icon"
        width="40"
        height="40"
      />
      <span class="logo-text">ФКС</span>
    </a>

    <div class="menu-container" id="mobile-menu">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./" class="nav-link current">Головна</a>
          </li>
          <li class="nav-item">
            <a href="./catalog.html" class="nav-link">Каталог</a>
          </li>
          <li class="nav-item has-submenu">
            <a href="./stones.html" class="nav-link">Камінь</a>
            <ul class="submenu">
              <li class="submenu-item"><a href="./stones.html?type=granite" class="submenu-link">Граніт</a></li>
              <li class="submenu-item"><a href="./stones.html?type=marble" class="submenu-link">Мармур</a></li>
              <li class="submenu-item"><a href="./stones.html?type=quartzite" class="submenu-link">Кварцит</a></li>
              <li class="submenu-item"><a href="./stones.html?type=travertine" class="submenu-link">Травертин</a></li>
              <li class="submenu-item"><a href="./stones.html?type=onyx" class="submenu-link">Онікс</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="./about.html" class="nav-link">Про нас</a>
          </li>
          <li class="nav-item">
            <a href="./contacts.html" class="nav-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-contacts">
      <li class="header-contacts-item">
        <a href="tel:+380672660909" class="header-contacts-link"
          >+38 (067) 266-09-09</a
        >
      </li>
      <li class="header-contacts-item">
        <a href="mailto:fks.marble@gmail.com" class="header-contacts-link">
          fks.marble@gmail.com
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <span class="menu-button-line"></span>
    </button>
  </div>
</header>
