<section class="products">
  <div class="container">
    <h2 class="section-title">Наші вироби</h2>
    <p class="section-description">Ми спеціалізуємося на виготовленні різноманітних виробів з природного каменю найвищої якості</p>
    
    <ul class="products-list">
        <li class="products-item">
          <a href="./product-categories.html?category=countertops" class="products-link">
            <div class="products-thumb">
              <img src="./img/products/countertop.jpg" alt="Стільниця з природного каменю" class="products-img" width="360" height="300" loading="lazy">
            </div>
            <div class="products-content">
              <h3 class="products-title">Стільниці</h3>
              <p class="products-text">Функціональні та стильні стільниці для кухонь та ванних кімнат</p>
            </div>
          </a>
        </li>
        <li class="products-item">
          <a href="./product-categories.html?category=windowsills" class="products-link">
            <div class="products-thumb">
              <img src="./img/products/windowsill.jpg" alt="Підвіконня з природного каменю" class="products-img" width="360" height="300" loading="lazy">
            </div>
            <div class="products-content">
              <h3 class="products-title">Підвіконня</h3>
              <p class="products-text">Підвіконня з природного каменю</p>
            </div>
          </a>
        </li>
        <li class="products-item">
          <a href="./product-categories.html?category=stairs" class="products-link">
            <div class="products-thumb">
              <img src="./img/products/stairs.jpg" alt="Сходи з природного каменю" class="products-img" width="360" height="300" loading="lazy">
            </div>
            <div class="products-content">
              <h3 class="products-title">Сходи</h3>
              <p class="products-text">Надійні та вишукані сходи, що стануть окрасою будь-якого інтер'єру</p>
            </div>
          </a>
        </li>
      <li class="products-item">
        <a href="./product-categories.html?category=fireplaces" class="products-link">
          <div class="products-thumb">
            <img src="./img/products/fireplace.jpg" alt="Камін з природного каменю" class="products-img" width="360" height="300" loading="lazy">
          </div>
          <div class="products-content">
            <h3 class="products-title">Каміни</h3>
            <p class="products-text">Елегантні каміни з мармуру, граніту та інших порід каменю</p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a href="./product-categories.html?category=bathrooms" class="products-link">
          <div class="products-thumb">
            <img src="./img/products/bathroom.jpg" alt="Ванна кімната з природного каменю" class="products-img" width="360" height="300" loading="lazy">
          </div>
          <div class="products-content">
            <h3 class="products-title">Ванні кімнати</h3>
            <p class="products-text">Ванні кімнати з природного каменю</p>
          </div>
        </a>
      </li>
      <li class="products-item">
        <a href="./product-categories.html?category=floors" class="products-link">
          <div class="products-thumb">
            <img src="./img/products/floor.jpg" alt="Підлога з природного каменю" class="products-img" width="360" height="300" loading="lazy">
          </div>
          <div class="products-content">
            <h3 class="products-title">Підлоги</h3>
            <p class="products-text">Підлоги з природного каменю</p>
          </div>
        </a>
      </li>
    </ul>
    
    <div class="products-action">
      <a href="./product-categories.html" class="btn btn-primary">Переглянути всі вироби</a>
    </div>
  </div>
</section>